<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
</head>
<body>
    <form onsubmit="validation()"> 
        <h1>Login Form</h1>
        Name<br>
        <input type="text" name="name" id="name" placeholder="Enter your name"><br>
        <br>Password<br>
        <input type="password" id ="password" placeholder="Enter your password"><br>
        <br>Mobile<br>
        <input type="tel" id="mobile" placeholder="Enter your mobile number"><br>
        <button id="submitBtn" onclick="validation()">Submit</button>
    </form>    
</body>
</html>